#colophon {}

.site-footer {
    background-color: #23a1db;
    height: 350x;
}

.copyright {
    background-color: #0681c5;
    height: 35px;
    color: #fff;
    padding-top: 5px;
}

.site-info {
    background-color: #000000;
    padding: 5px;
    margin: 0 auto;
    color: white;
    text-align: middle;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#footer-menu {
    margin-top: 10px;
}

ul#footer-menu {
    list-style: none;
}

ul#footer-menu li {
    vertical-align: top;
    display: inline-block;
    text-align: middle;
}

ul#footer-menu li a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.sub-menu {
    padding: 0;
    margin: 0;
}

ul#footer-menu .sub-menu li {
    display: block;
}

ul#footer-menu .sub-menu li a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}