* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 
nav {
	background: #f0f0f0;
	color: #000;
	font-family: ubuntu;
	height: 70px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
 }
 
	nav > div {
		background: inherit;
		cursor: pointer;
		display: inline-block;
		float: left;
		height: inherit;
		line-height: 70px;
		margin: 0;
		padding: 0;
		text-align: middle;
		width: 25%;
	 }
 
		nav > div:hover {
			background: #D0D0D0;
			border-bottom: 5px solid #545454;
			border-left: 10px solid #939393;
			border-right: 10px solid #939393;
			border-top: 5px solid #545454;
			line-height: 60px;
			transition: .3s;
		 }



 