/*UNIVERSAL SELECTOR*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.main-header {
    /*
    background-image: url("/img/pizza2.jpg");
    background-size: 40%;
    background-repeat: no-repeat;
*/
    background-position: center;
    height: 850px;
    padding-top: 170px;
}

.main-header,
.title {
    text-align: center;
}

.title {
    /*To change font-size from px to em. Do this simple equation.
Whatever the dezired pixel is / 16.    
26px/16px =    
 */
    border-bottom: 2px solid;
    color: brown;
    font-size: 1.525em;
    font-weight: 200;
    letter-spacing: .065em;
    padding-bottom: 10px;
}

.primary-content {
    padding-bottom: 95px;
    text-align: center;
}

.secondary-content {
    border: 2px solid #000000;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content,
.secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
}

.t-border {
    border-top: 2px solid lightgrey;
}


/*
ul li {
    margin-bottom: 5px;
}
*/

ul,
ol {
    margin-left: 30px 0;
}

li {
    margin-bottom: 10px;
}

.arrow {
    width 50px;
    margin-top: 15px;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.food {
    /*two values first ia top and bottom. 2nd is for left and right.*/
    /*    
    border-color: #ffa949; 
    border-style: dashed; 
 border-width: 10px 20px; 
   padding: 18% 24%;
      padding-bottom: 100;
       padding-left: 120; 
   padding-top: 100px;
   padding-right: 120px; 
    */
    /*Box Shadows: 1st value is horizontal. 2nd is vertical. 3rd is blur. 4th is spread-radius
    border-radius: 10px;
    box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
    border-top: 10px solid #ffa949;
    /*When 3 values. First one is the top. Second one is left and right. Third on is bottom*/
    margin: 105px 0 60px;
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

.main-footer {
    border-bottom: solid 10px orange;
    padding-bottom: 60px;
    padding-top: 60px;
}

.jumbotron {
    background: transparent;
    color: white;
    height: 590px;
    margin-bottom: 50px;
    text-shadow: black 0.3em 0.3em 0.3em;
}


/***************************************
HEADLINE ELEMENTS & P ELEMENTS
***************************************/

h2 {
    font-size: 53px;
    font-weight: normal;
    /*26px/53px*/
    margin-bottom: .5em;
    text-decoration: underline;
}

span {
    color: aqua;
    font-family: Lucida Handwriting;
    font-size: 50px;
    margin: 12px 0 0;
    text-shadow: 0 10px 1px rgba(0, 0, 0, .8);
}

p {
    background-color: #434a52;
    font-family: Lucida Handwriting;
    font-size: 60px;
}


/***************************************
FLOATED COLUMNS
***************************************/

.pizza,
.tips {
    width: 49%;
}

.pizza {
    float: right;
}

.tips {
    float: left;
}

.groupp:after {
    clear: both;
    content: "";
    display: table;
}


/***************************************
COLORS/IMG
***************************************/

body {
    background-image: url('/img/pizza.gif');
    text-align: center;
}

.title {
    color: aqua;
}


/*
.main-header {
    background-color: #ffa949;
}
*/

.food {
    background-color: #434a52;
    color: blue;
}

ul li {
    background-color: black;
    color: gray;
}

h1 {
    color: silver;
    /*90px/16px*/
    font-family: Lucida Handwriting;
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    /*Text Shadows: 1st value is horizontal offset. 2nd is vertical offset. 3rd value is blur. 4th is of the color of the shadow*/
    text-transform: uppercase;
}

h3 {
    color: #0354ff;
    font-size: 50px;
    /*34px/20px*/
    margin-bottom: 1.7em;
}


/*CSS PSEUDO CLASS*/

a:link {
    color: #337ab7;
    text-decoration: none;
}

a:visted {
    color: lightblue;
}

a:hover {
    color: forestgreen;
}

a:active {
    color: dodgerblue;
}

a:focus {
    background-color: orange;
    color: white;
}


/***************************************
MEDIA QUERIES
***************************************/

@media (max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    .food {
        padding: 10% 12%;
        margin: 50px 0 20px;
    }
}

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
        width: 100%;
        padding: 20px;
        border-top: none;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        border: none;
        font-size: 1.3rem;
    }
    span {
        font-size: 5rem;
        line-height: 1.1;
    }
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .pizza,
    .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media (max-width: 375px) {
    span {
        font-size: 3rem;
    }
}


}